.android/
Android Open Source Project/
Code - OSS/
Code/
Google/
JetBrains/
Thunar/
balenaEtcher/
dconf/
dolphinrc
fish/
github-copilot/
go/
jgit/
kde.org/
mimeapps.list
paru/
pulse/
session/
sioyek/
spotify/
systemd/
uv/
xfce4/
ranger/plugins/__pycache__/
*.pyc
*.pyc
*.pyo
.mypy_cache/
__pycache__/
desktop/
gtk-3.0/bookmarks
hypr/20250718_07h48m47s_grim.png
libfm/
notify/
pcmanfm/
qBittorrent/
torbrowser/
transmission/
uwsm/
zsh/zsh_history
